<!-- app/views/admin/cars/index.html.erb -->
<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Listado de Coches</h1>
    <%= link_to 'Crear Nuevo Coche', new_admin_car_path, class: 'inline-flex items-center px-4 py-2 bg-indigo-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 active:bg-indigo-600 disabled:opacity-25 transition' %>
  </div>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Precio</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Año</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Kilómetros</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Categoría</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Marca</th>
<!--              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">País de origen</th>-->
              <th scope="col" class="relative px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <% @cars.each do |car| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-gray-900"><%= car.name %></td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-gray-900"><%= car.status.humanize %></td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= number_to_currency(car.price, unit: "€") %></td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= car.year %></td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= car.kilometers %> km</td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= car.category.name if car.category %></td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= car.make.name if car.make %></td>
<!--                <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%#= car.origin_country.name if car.origin_country %></td>-->
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                  <div class="grid grid-cols-3 items-center">
                    <div class="flex justify-center"> <!-- Posición 2: Primer icono -->
                      <%= link_to '👁️', admin_car_path(car) %>
                    </div>
                    <div class="flex justify-center"> <!-- Posición 2: Primer icono -->
                      <%= link_to '✏️', edit_admin_car_path(car) %>
                    </div>
                    <div class="flex justify-center"> <!-- Posición 4: Segundo icono -->
                      <%= link_to '🗑️', admin_car_path(car), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este coche?' } %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
