<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <h1 class="text-2xl font-bold mb-6">Listado de Solicitudes de Contacto</h1>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Teléfono</th>
<!--              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Asunto</th>-->
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Coche (ID)</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Revisado?</th>
              <th scope="col" class="relative px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @contact_requests.each do |contact_request| %>
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-gray-900"><%= contact_request.name %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= contact_request.email %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= contact_request.phone %></td>
<!--                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%#= contact_request.subject %></td>-->
                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                    <% if contact_request.car_id.present? %>
                      <%= link_to contact_request.car&.name, admin_car_path(contact_request.car_id) %>
                    <% else %>
                      Sin coche asociado
                    <% end %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500"><%= contact_request.viewed ? '✅' : '❌' %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <div class="grid grid-cols-2 items-center">
                      <button class="flex justify-center py-2 px-4" data-modal-id="modal-<%= contact_request.id %>">👁</button>
                      <div class="flex justify-center">
                        <%= link_to '🗑️', admin_contact_request_path(contact_request), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta solicitud de contacto?' } %>
                      </div>
                    </div>
                  </td>
                </tr>

              <%= render partial: 'admin/contact_requests/modal', locals: { contact_request: contact_request } %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
