<!-- app/views/cars/show.html.erb -->
<% if in_admin_controller? %>
  <div class="mt-8 flex justify-between">
    <%= link_to 'Volver al listado anterior', 'javascript:history.back()', class: 'inline-block px-6 py-3 bg-gray-600 text-white text-lg font-medium rounded-md hover:bg-gray-700' %>
    <%= link_to 'Editar este coche', edit_admin_car_path(@car), class: 'inline-block px-6 py-3 bg-indigo-600 text-white text-lg font-medium rounded-md hover:bg-indigo-700' %>
  </div>
<% end %>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <h1 class="text-center text-3xl font-bold mb-8"><%= @car.get_full_name %></h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <%= render partial: "components/car_swiper", locals: { car: @car } %>
    <div>
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Detalles del coche</h2>
        <dl class="space-y-2">
          <div class="flex justify-between">
            <dt class="font-medium text-gray-500">Precio</dt>
            <dd class="text-lg text-gray-900"><%= number_to_currency(@car.price, unit: "€") %></dd>
          </div>
          <div class="flex justify-between">
            <dt class="font-medium text-gray-500">Año</dt>
            <dd class="text-lg text-gray-900"><%= @car.year %></dd>
          </div>
          <div class="flex justify-between">
            <dt class="font-medium text-gray-500">Kilómetros</dt>
            <dd class="text-lg text-gray-900"><%= @car.kilometers %> km</dd>
          </div>
          <div class="flex justify-between">
            <dt class="font-medium text-gray-500">Marca</dt>
            <dd class="text-lg text-gray-900"><%= @car.make.name if @car.make %></dd>
          </div>
          <div class="flex justify-between">
            <dt class="font-medium text-gray-500">Categoría</dt>
            <dd class="text-lg text-gray-900"><%= @car.category.name if @car.category %></dd>
          </div>
<!--          <div class="flex justify-between">-->
<!--            <dt class="font-medium text-gray-500">País de origen</dt>-->
<!--            <dd class="text-lg text-gray-900"><%#= @car.origin_country.name if @car.origin_country %></dd>-->
<!--          </div>-->
        </dl>
      </div>

      <div class="mt-8">
        <% if in_admin_controller? %>
<!--          <a href="javascript:void(0);" class="inline-block w-full text-center px-6 py-3 bg-gray-400 text-white text-lg font-medium rounded-md cursor-not-allowed" aria-disabled="true">-->
<!--            Contactar sobre este coche (Deshabilitado en Admin)-->
<!--          </a>-->
        <% else %>
          <%#= link_to 'Contactar sobre este coche', contacto_path(car_id: @car.id), class: 'inline-block w-full text-center px-6 py-3 bg-indigo-600 text-white text-lg font-medium rounded-md hover:bg-indigo-700' %>
          <%= link_to 'Contactar sobre este coche', "https://wa.me/#{Rails.application.credentials.dig(:whatsapp, :phone_number)}?text=Estoy%20interesado%20en%20el%20coche%20#{@car.name}%20-%20#{car_url(@car)}%0A", class: 'inline-block w-full text-center px-6 py-3 bg-indigo-600 text-white text-lg font-medium rounded-md hover:bg-indigo-700', target: '_blank', rel: 'noopener' %>
      <% end %>
      </div>
    </div>
  </div>

  <!-- Descripción larga del coche -->
  <div class="mt-12 bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4">Descripción</h2>
    <p class="text-gray-700 leading-relaxed"><%= @car.model_description %></p>
  </div>
</div>
